.botonX:hover {
    background-color: rgb(225, 225, 225);
}

.botonX button {
    display: none;
    border: none;
}

.botonX:hover button {
    display: block;
    background-color: rgb(225, 225, 225);
}